@mixin latoFontFamily($weight:500){
    font-family: 'Lato', sans-serif;
    font-weight: $weight;
}

@mixin poppinsFontFamily($weight:500){
    font-family: 'Poppins', sans-serif;
    font-weight: $weight;
}